<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        Diese ersten Minuten mit der
        Maske entscheiden über Leben
        und Tod. Ist sie dicht?
        Ich kenne die furchtbaren
        Bilder aus dem Lazarett:
        Gaskranke, die in tagelangem 
        Würgen die verbrannten
        Lungen stückweise auskotzen.

        Erich Maria Remarque
        Im Westen nichts Neues

        Gas – das war für Soldaten
        im Ersten Weltkrieg
        die Albtraumwaffe
        schlechthin. Die deutsche
        Armee war die erste, die
        Gas konzentriert auf den
        Schlachtfeldern Flanderns
        einsetzte.
        VON DIRK WALTER
        Raubling – Der Soldat Martin
        Dunz stammte aus Griesbach
        in Niederbayern. Im Krieg
        war er in Frankreich und Belgien
        eingesetzt. Dann kam
        der unheimliche, nicht greifbare
        Feind über ihn – Gas.
        Dunz, damals 26, erlitt am 25.
        Juli 1917 bei Hooge (östlich
        von Ypern in Flandern/Belgien)
        eine Gasvergiftung.
        „Gaskrank“ lautet der Eintrag
        in seiner Kriegsstammrolle,
        die im Bayerischen Kriegsarchiv
        verwahrt wird. Er kam in
        eine Krankensammelstelle,
        konnte aber ein halbes Jahr
        später zu seiner Kompanie
        zurückkehren.
        Ein Brechdurchfall im
        April 1918 beendete seinen
        Weltkriegs-Einsatz dann endgültig
        – Martin Dunz kam ins
        Reservelazarett in Landau in
        der Pfalz, wo er langsam gesund
        werden konnte. An die
        Front musste der zum Unteroffizier
        beförderte Soldat Düngenicht
        mehr. Er überlebte also.
        „Nur eine Hand blieb steif“,
        erinnert sich seine Schwiegertochter
        Irmgard Dunz, die
        heute in Raubling (Landkreis
        Rosenheim) lebt. Dunz hatte,
        so zumindest ist es in der Familie
        überliefert worden,
        gleichzeitig einen Durchschuss
        in der Hand erlitten.
        Die Waffe war den meisten
        Zeitgenossen höchst suspekt:
        Anders als Tanks (Panzer),
        Flugzeuge oder die neuen
        Maschinengewehre war Gas
        etwas Schleichendes, Unheimliches,
        nicht Fassbares.
        Giftgas war eine Antwort auf
        die Unbeweglichkeit des Stellungskrieges,
        schreibt der britische Historiker David Stevenson.
        Deutschland muss
        sich dabei „vorhalten lassen,
        es zuerst auf den Schlachtfeldern
        benutzt zu haben“. Der Vater des Gaskriegs
        war der deutsche Chemiker
        Fritz Haber (1868-1934), der
        den Ammoniak als Düngemittel erfand, aber auch erste
        Versuche mit Phosgen und
        Chlorgas machte. Im Weltkrieg
        war er als Leiter einer
        „Spezialtruppe für Gaskampf“
        eingesetzt. Am Nachmittag
        des 22. April 1915
        setzte die deutsche Truppe
        bei der Schlacht um Ypern
        erstmals Chlorgas ein. Die
        Deutschen hatten warten
        müssen, bis der Wind richtig
        weht – von Ost nach West,
        und nicht (wie es vorrangig
        der Fall war) von West nach
        Ost. Die Windlage war also
        entscheidend: Wehte der
        Wind gar nicht, so konnten
        eigene Soldaten im Vorwärtssturm
        geschädigt werden. Der Wind war aber nur einer
        von vielen Problemen, die
        der Gaskrieg mit sich brachte.
        Die eingesetzten Chemikalien
        waren mitunter so aggressiv,
        dass sie die Geschosshüllen
        zerfraßen. Sie waren bei der
        Truppe daher äußerst unbeliebt.
        Außerdem: Strategische
        Vorteile brachte der Gaseinsatz
        keiner der Frontparteien.
        Stattdessen traten die Feindstaaten
        in einen verbissenen
        Wettlauf um die beste Gasmaske
        ein. Eine aberwitzige
        Entwicklung: Auch für die an
        der Front eingesetzten Pferde
        gab es versuchsweise Gasmasken.
        Gas erzeugte psychischen
        Schrecken – der blanke Horror.
        Erich Maria Remarque
        hat das in seinem Buch „Im
        Westen nichts Neues“ unübertroffen
        prägnant beschrieben:
        „Jetzt schleicht der
        Schwaden über den Boden
        und sinkt in alle Vertiefungen.
        Wie ein weiches, breites
        Quallentier legt er sich in unseren
        Trichter, räkelt sich hinein.“
        Die tatsächlichen Opferzahlen
        durch das „Quallentier“
        waren zwar gravierend,
        aber nicht exorbitant:
        Etwa eine halbe Million Verluste,
        davon etwa 25 000 Todesfälle
        an der Westfront, etwa
        10 000 Mann Verlust in
        Italien und eine unbekannte
        Anzahl in Russland. Strittig
        war, ob der Einsatz von Gas
        im Einklang mit der Haager
        Konvention von 1899 stand –
        Haber wurde von den Alliierten
        nach 1918 zeitweilig als
        Kriegsverbrecher gesucht.
        Auch der Weltkriegs-Soldat
        Hitler wurde in der Nacht
        von 13. auf 14. Oktober 1918
        in der Nähe von Ypern – dort,
        wo es die ersten Gasangriffe
        überhaupt gegeben hatte –
        Opfer eines Senfgasangriffs. Schon in den Monaten zuvor
        war seine Einheit, das Regiment
        List, immer wieder Gasattacken
        ausgesetzt gewesen.
        Hitlers Vorgesetzter, ein Major
        Anton von Tubeuf, berichtete:
        „Sehr zerrüttend auf die
        Nervenkraft wirkten die sich
        immer wiederholenden Überfälle
        durch Gasminen und
        Gasgranaten.“
        Hitler war nach dem Angriff
        zunächst fast erblindet. Nach
        einer Erstbehandlung im Feldlazarett
        in Flandern kam er am
        21. Oktober 1918 ins Preußische
        Reserve-Lazarett in Pasewalk
        bei Stettin in Pommern.
        Dort erlebte er drei Wochen
        später das Kriegsende.

    </body>
</html>
